{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Folders</h1>

<ul class="list-group list-group-flush" id="folders">
  {% for folder in user.folders %}
      <a href="/home/{{ folder.id }}">
          <button>{{ folder.name }}</button>
      </a>
      {% for category in category %}
          {% if folder.category_id == category.id %}
              <p>{{ category.name }}</p>
          {% endif %}
      {% endfor %}
    <button type="button" class="close" onClick="deleteFolder({{ folder.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  {% endfor %}
</ul>

<form method="POST">
    <div align="center">
            <textarea name="folder" id="folder" class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">Add Folder</button>
                    <label for="category">Choose a category:</label>
        <select name="category" id="category">
            {% for category in category %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
</form>

{% endblock %}
