{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Folders</h1>
<ul class="list-group list-group-flush" id="folders">
  {% for folder in user.folders %}
      <!-- Försöker länka till en folder -->
      <a href="/home/{{ folder.id }}">
          <button>{{ folder.name }}</button>
      </a>
    <button type="button" class="close" onClick="deleteFolder({{ folder.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="folder" id="folder" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Folder</button>
  </div>
</form>
{% endblock %}
